[submodule "AnyJSON Demo/Libraries/JSONKit"]
	path = AnyJSON Demo/Libraries/JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "AnyJSON Demo/Libraries/YAJL"]
	path = AnyJSON Demo/Libraries/YAJL
	url = https://github.com/gabriel/yajl-objc.git
[submodule "AnyJSON Demo/Libraries/SBJson"]
	path = AnyJSON Demo/Libraries/SBJson
	url = https://github.com/stig/json-framework.git
[submodule "AnyJSON Demo/Libraries/NextiveJson"]
	path = AnyJSON Demo/Libraries/NextiveJson
	url = https://github.com/nextive/NextiveJson.git
